.red{
    color: #d61b06;
}
#red{
    background: #d61b06;
    color: #fff;
}
.blue{
    color: blue;
}
#blue{
    background: blue;
    color: white;
}
.vang{
    background: yellow;    color: white;
}
tABLE{
    border-collapse: collapse;
}
th,td{

    border: 1px solid black;
}
.xoa{
    border: unset;
}
#red1{
    color: red;
}
#blue1{
    color: blue;
}

